# Byte-compiled / optimized / DLL files
*/__pycache__/*
*.pyc
*$py.class
venv/*
venv
# Mac
.DS_Store
*/.DS_Store

# PyTorch

*.pt
*.pdf
*.png
*.jpg
*.swp
.vscode
experiments
proc
dataset/data
/.idea/
/.idea/inspectionProfiles/
/.idea/.gitignore
/.idea/Linear_constraint.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml

err.log
completed.log
*.ini
*.onnx
exclude
*.nc
*.HDF
control*.txt
make_temp*
/save_dir/
db.db
results
test.py
#
#configs/predict_config.py
